{
    "fields": {
        "project": {"key": "{{PROJECT_ID}}"},
        "summary": "{{ISSUE_SUMMARY}}",
        "issuetype": {
            "name": "Security Vulnerability"
        },
        "labels": [
            "Security"
        ],
        "description": "{{ISSUE_DESCRIPTION}}"
    }
}
