{
    "fields": {
        "project": {"key": "{{PROJECT_ID}}"},
        "summary": "{{ISSUE_SUMMARY}}",
        "issuetype": {
            "name": "{{ISSUE_TYPE}}"
        },
        "priority": {
            "name": "{{ISSUE_SEVERITY_MAP}}"
        },
        "description": "{{ISSUE_DESCRIPTION}}"
    }
}
